langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchainhub
langsmith
langchain-text-splitters
streamlit
watchdog
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
openai
sentence_transformers
faiss-cpu
arxiv
wikipedia
